body {
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.App {
    height: 100em;
}
.page {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #F7F5F9;
}

.content {
    width: calc(100% - 80px);
    height: 100%;
}

.side-menu {
    min-width: 80px;
    max-width: 80px;
    height: 100%;
    background-color: #3E4466;
    padding: 10px 0px;
    line-height: 1;
}

.side-menu .logo {
    margin: auto;
    display: block;
    width: 50%;
    height: 53.51px;
    background: url('../icons/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.side-menu .icons {
    text-align: center;
    transform: translate(0, 50%);
}

.side-menu .icons .element {
    padding: 14px 0px;
}

.side-menu .icons .element i{
    color: #ffffff;
    font-size: 21px;
}

.side-menu .icons .element i:before{
    width: 25px;
    height: 25px;
}

.page .content .top-menu {
    width: 100%;
    height: 61px;
    background-color: #ffffff;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.059));
    z-index: 3;
    position: relative;
}

.page .content .top-menu ul{
    width: 100%;
    height: 100%;
    display: flex;
}

.page .content .top-menu ul li {
    height: 100%;
    border-right: 1.5px solid rgb(227, 234, 238);
    padding: 20px;
}

.page .content .top-menu ul li:last-child {
    border-right: unset;
    padding-right: 0;
    padding: 0;
    margin: auto;
    display: inline-flex;
}

.page .content .top-menu ul li:last-child .menu-button {
    margin: auto;
}

.page .content .top-menu ul li .title-container{
    display: inline-flex;
    text-overflow: ellipsis;
}

.page .content .top-menu ul li .title-container .cloud-sync {
    position: relative;
}

.page .content .top-menu ul li .title-container .cloud-sync .child {
    position: absolute;
    color: white;
    font-size: 10px;
    padding: 14px 7px 25px 14px;
}

.page .content .top-menu ul li .title-container .cloud-sync i{
    font-size: 23px;
    padding: 6px 23px 5px 6px;
    color: #3E4466;
}

.page .content .top-menu ul li p{
    margin: 0;
}

.page .content .top-menu ul li h4{
    margin: 0;
}

.page .content .top-menu ul li .presentation-title h4{
    white-space: nowrap;
    text-align: left;
    font-family: 'Mosk700';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(62,68,102,1);
    letter-spacing: -0.2px;
}

.page .content .top-menu ul li .presentation-title h4::after {
    content: "\f0dd";
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    font-weight: 900;
    padding-left: 11px;
}

.page .content .top-menu ul li .presentation-title p {
    white-space: nowrap;
    text-align: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(62,68,102,0.57);
    line-height: 16px;
}

.page .content .top-menu ul .li-title {
    padding: 15px 40px !important;
    width: 305px;
}

.page .content .top-menu ul li .menu-button {
    display: inline;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
}

.page .content .top-menu ul li .menu-button.size-20 i{
    font-size: 20px;
}

.page .content .top-menu ul li .menu-button.play, .menu-button.size-20 {
    opacity: 0.8;
    margin-right: 15px !important;
}

.page .content .top-menu ul li .menu-button.play:hover {
    background-color: transparent;
    filter: unset;
    opacity: 1;
}

.page .content .top-menu ul li .menu-button.play i {
    font-size: 20px;
    background: -webkit-gradient(linear, left top, right bottom, from( #3053E4), to(#5C79F1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

.page .content .top-menu ul li .menu-button.synched {
    border-radius: 50%;
    background-color: #EAEEFF;
    border: 1px solid #C6D1FD;
    padding: 6px;
    opacity: 1;
/* For the double border effect
    border: 1px solid #ffff;
    box-shadow: 0px 0px 3px 0 #C6D1FD;
*/
}

.page .content .top-menu ul li .menu-button.synched i {
    color: #40A35B;
    opacity: 1;
    margin: auto;
    font-size: 15px;
}

.page .content .top-menu ul li .menu-button:hover{
    background-color: #EFF5F6;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
}

.page .content .top-menu ul li .menu-button:last-child{
    margin-right: 0px;
}

.page .content .top-menu ul li .menu-button.active{
    background-color: #EFF5F6;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
}

.page .content .top-menu ul li .menu-button.active i{
    color: #5C79F1 !important;
    opacity: 1 !important;
}

.page .content .top-menu ul li .menu-button i {
    opacity: 0.7;
    color: #9AA9B8;
    font-size: 17px;
}

.page .content .top-menu ul li .menu-button.list {
    padding-right: 0;
}

.page .content .top-menu ul li .menu-button.list i:after {
    content: "\f0dd";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    padding-left: 11px;
}

.page .content .top-menu ul li .menu-button.relative {
    position: relative;
}

.page .content .top-menu ul li .menu-button .sub-menu {
    display: none;
}

.page .content .top-menu ul li .menu-button.active .sub-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    background-color: white;
    top: 35px;
    border-radius: 5px;
    border: 1px solid rgb(227, 234, 238);
}

.page .content .top-menu ul li .menu-button.active .sub-menu i {
    margin: auto;
    opacity: 0.7 !important;
    color: #9AA9B8 !important;
    font-size: 17px;
}

.page .content .top-menu ul li .menu-button.active .sub-menu i:hover {
    opacity: 1 !important;
}

.page .content .top-menu ul li .menu-button.active .sub-menu i .selected {
    opacity: 1;
    color: #5C79F1;
}

.page .content .top-menu ul li.width-210 {
    width: 210px;
}

.page .content .top-menu ul li.cog {
    padding: 20px 26.5px;
}

.page .content .top-menu ul li.cog i{
    opacity: 0.7;
    color: #9AA9B8;
    font-size: 22px;
}

.page .content .top-menu ul li.cog:hover {
    cursor: pointer;
    background-color: #EFF5F6;
}

/*.page .content .top-menu ul li.width-210:hover {
    cursor: pointer;
    background-color: #EFF5F6;
}*/

.li-select:hover {
    cursor: pointer;
    background-color: #EFF5F6;
}

.li-select.fixed-width-141 {
    width: 141px;
}

.li-select.fixed-width-100 {
    width: 100px;
}

.li-select .drop-down {
    position: absolute;
    max-height: 250px;
    top: 51px;
    left: 0;
    width: 141px;
    background-color: #ffffff;
    border: 1px solid #E3EAEE;
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;
    cursor: pointer;
    z-index: 2;
}

.width-210 .drop-down {
    width: 212px;
    opacity: 0.9;
    top: 61px;
    left: -2px;
    color: #9AA9B8;
    font-family: 'Product Sans';
    font-size: 15px;
}

.li-select .drop-down::-webkit-scrollbar {
    display: none;
}

.li-select .drop-down div {
    padding: 10px;
    border-bottom: 1px solid rgb(227, 234, 238);
    font-size: 14px;
}

.li-select .drop-down div.selected {
    background-color: #EFF5F6;
}

.li-select.width-210 .drop-down div {
    padding: 15px 10px;
}

.li-select .drop-down div:hover {
    background-color: #EFF5F6;
}

.li-select .drop-down div:last-child {
    border-bottom: unset;
}

.li-select .drop-down.flex {
    display: flex;
    background-color: #f7fbfc;
    width: unset;
    left: -153.5px;
}

.page .content .top-menu ul li .input-selector {
    color: #9AA9B8;
    font-family: 'Product Sans';
    font-size: 15px;
    display: flex;
}

.page .content .top-menu ul li .input-selector:hover {

}

.page .content .top-menu ul li .input-selector:after {
    content: "\f0dd";
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    font-weight: 900;
    padding-left: 30px;
    margin: auto;
    margin-top: 0;
    margin-right: 0;
    padding-right: 5px;
}

.page .content .top-menu ul li .input-selector.animation:before {
    content: "\f0e7";
    font-family: 'Font Awesome 5 Free';
    font-size: 13px;
    font-weight: 900;
    padding: 0px 15px 0px 10px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

.page .content .body {
    width: 100%;
    height: calc(100% - 61px);
    display: flex;
}

.page .content .body .slides-container {
    width: 300px;
    height: 100%;
    padding: 40px 0px;
}

.page .content .body .slide-editor {
    width: calc(100% - 300px);
    height: 100%;
    position: relative;
}

.page .content .body .slide-editor .editor {
    padding: 70px 0px;
    /***Added later for zooming ***/
    height: 100%;
    display: flex; 
}

.page .content .body .slide-editor .editor .undo {
    position: absolute;
    border-radius: 35px;
    min-width: 80px;
    height: 40px;
    top: 10px;
    left: 40%;
    z-index: 2;
    margin: auto;
    text-align: center;
    display: inline-flex;
    padding: 0px 10px;
}

.page .content .body .slide-editor .editor .undo:hover {
    opacity: 1;
    background-color: #EFF5F6;
    cursor: pointer;
}

.page .content .body .slide-editor .editor .undo p {
    margin: auto;
    font-size: 12px;
}

.page .content .body .slide-editor .editor .undo i {
    margin: auto;
    font-size: 9px;
    margin-right: 0;
}

.page .content .body .slide-editor .editor .canvas-containor {
    position: relative;
    /*** For zooming ***/
    margin: auto;
    margin-left: 0;
}

.page .content .body .slide-editor .editor .canvas-container {
    transition: all .5s linear;
}

.page .content .body .slide-editor .editor .canvas-container .upper-canvas {
}

.page .content .body .slide-editor .editor .canvas-container .lower-canvas, .upper-canvas {
    transition: all .5s linear;
}

.page .content .body .slide-editor .editor .canvas-containor .text-options{
    background-color: #ffffff;
    height: 52.1px;
    border: 1px solid #E3EAEE;
    border-radius: 10px;
    filter:  drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.169)); /*can be changed to 10px*/
    opacity: 0.63;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 409px;
    color: #3E4466;
    display: inline-flex;
    line-height: 1;
}

.page .content .body .slide-editor .editor .canvas-containor .text-options:hover {
    opacity: 1;
}

.page .content .body .slide-editor .editor canvas {
    border-radius: 3px;
    width: 938px; /*should be changed in js*/
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.161));
    height: calc(938px * 9/16); /*should be changed in js*/
    display: block;
    margin: auto;
    margin-left: 20px;
}

@media only screen and (max-width: 1300px) {
    .page .content .body .slide-editor .editor canvas {
        margin-left: 0;
    }

    
}

@media only screen and (max-width: 1000px) {
    .page .content .body .slides-container {
        width: 250px;
    }
    
    .page .content .body .slide-editor {
        width: calc(100% - 250px);
    }
}

@media only screen and (max-width: 1200px) {
    .page .content .body .slide-editor .slide-editor-options{
        width: 70px !important;
    }
}


.page .content .body .slide-editor .editor .canvas-containor.fullscreen canvas {
    margin: 0 !important;
    border-radius: 0;
}

.fullscreen-enabled  {
    display: flex;
}

.page .content .body .slide-editor .editor #editor {
    background-color: white;
}

.page .content .body .slide-editor .editor .text-options ul {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.page .content .body .slide-editor .editor .text-options ul li {
    height: 100%;
    border-right: 1px solid #E3EAEE;
    padding: 15px;
    display: inline-flex;
    margin: auto;
}

.page .content .body .slide-editor .editor .text-options ul li.toggle-colors {
    border-radius: 0px 10px 0px 0px !important;
    background-color: #EFF5F6;
}

.page .content .body .slide-editor .editor .text-options ul li.toggle-colors:hover {
    border-radius: 0px 10px 0px 0px !important;
}

.page .content .body .slide-editor .editor .text-options ul li:last-child {
    border-right: unset;
    border-radius: 0px 10px 10px 0px;
}

.page .content .body .slide-editor .editor .text-options ul li:first-child {
    border-radius: 10px 0px 0px 10px;
}

.page .content .body .slide-editor .editor .text-options ul li.menu-buttons {
    padding: 9px 15px;
}

.page .content .body .slide-editor .editor .text-options ul li .element {
    font-family: 'Product Sans';
    font-size: 14px;
    display: inline-flex;
    margin: auto;
    overflow: hidden;
}

.page .content .body .slide-editor .editor .text-options ul li .element i{
    margin: auto;
    padding-right: 7px;
}

.page .content .body .slide-editor .editor .text-options ul li .element.list::after {
    content: "\f0dd";
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    font-weight: 900;
    padding-left: 30px;
    margin: auto;
    margin-top: 0;
    margin-right: 0;
}

.page .content .body .slide-editor .editor .text-options ul li .element.list.font::after {
    padding-left: 0px;
}

.page .content .body .slide-editor .editor .text-options ul li .element.list.font p{
    font-family: 'Open Sans Bold';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 110px;
}

.page .content .body .slide-editor .editor .text-options ul li .element.list .color-picker {
    border-radius: 5px;
    height: 19px;
    width: 20px;
    margin: auto;
    background-color: black;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.071));
}

.page .content .body .slide-editor .editor .text-options ul li .element.list .color-picker.transparent {
    background-color: transparent;
    border: 2px solid #E3EAEE;
}

.page .content .body .slide-editor .editor .text-options ul li .element.list .color-picker.transparent .line {
    position: absolute;
    background-color: red;
    width: 21px;
    height: 2px;
    transform: rotate(-45deg);
    top: 7px;
    left: -2.5px;
    border-radius: 20px;
    display: block;
}

.page .content .body .slide-editor .editor .text-options ul li .element.list .color-picker .line {
    display: none;
}

.page .content .body .slide-editor .editor .text-options ul li .element.list .color-element{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 10px;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    border: 2px solid white;
}

.page .content .body .slide-editor .editor .text-options ul li .element.list.color::after {
    padding-left: 10px;
}


.page .content .body .slide-editor .editor .text-options ul li .menu-button {
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
}

.page .content .body .slide-editor .editor .text-options ul li .menu-button:last-child {
    margin-top: 1.7px;
    margin-right: 0;
}

.page .content .body .slide-editor .editor .text-options ul li .menu-button i {
    font-size: 15px;
    color: #97A7B7;
}

.page .content .body .slide-editor .editor .text-options ul li .menu-button:hover i {
    color: #3E4466;
}

.page .content .body .slide-editor .editor .text-options ul li .menu-button.selected i {
    color: #3E4466;
}

.page .content .body .slide-editor .editor .text-options ul li .menu-button.selected {
    background-color: #EFF5F6;
}

.page .content .body .slide-editor .editor .text-options ul li .menu-button.selected:hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.071));
}

.page .content .body .slide-editor .slide-editor-options {
    width: calc(1151px - 1030px);/*calc(1151px - 938px);*/
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
    display: grid;
    padding-top: 40px;
}

.page .content .body .slide-editor .slide-editor-options .middle{
    margin: auto;
}

.page .content .body .slide-editor .slide-editor-options .bottom{
    margin: auto;
    margin-bottom: 0;
}

.page .content .body .slide-editor .slide-editor-options .options-btn-container {
    color: #8FA0B1;
    font-family: 'Roboto-Medium';
    font-size: 12px;
    text-align: center;
    margin-bottom: 15px;
}

.page .content .body .slide-editor .slide-editor-options .options-btn, .editor .options-btn {
    border-radius: 50%;
    border: 1px solid #E1E8ED;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
    display: flex;
    margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 15px;
    color: #8FA0B1;
    margin-bottom: 5px;
    cursor: pointer;
    opacity: 0.75;
}

.page .content .body .slide-editor .options-btn.notes {
    -webkit-transform: translateX(-40%);
    transform: translateX(-40%)
}

.page .content .body .slide-editor .slide-editor-options .options-btn:hover {
    opacity: 1;
    background-color: #8FA0B1;
    color: #ffffff;
    border: 0px;
}

.page .content .body .slide-editor .slide-editor-options .options-btn.ai:hover {
    background-color: rgb(254, 207, 57);
    border: 0px;
}

.page .content .body .slide-editor .slide-editor-options .options-btn.big {
    font-size: 19px;
}

.page .content .body .slide-editor .slide-editor-options .options-btn.double {
    font-size: 10px;
    margin-bottom: 0px;
    height: 45px;
    width: 37px;
}

.page .content .body .slide-editor .slide-editor-options .options-btn.double.up {
    border-radius: 35px 35px 0px 0px;
}

.page .content .body .slide-editor .slide-editor-options .options-btn.double.down {
    border-radius: 0px 0px 35px 35px;
}

.page .content .body .slide-editor .slide-editor-options .options-btn i{
    margin: auto;
}

.page .content .body .slide-editor .slide-editor-options .options-btn .notification{
    width: 10.5px;
    height: 10.5px;
    border-radius: 50%;
    background-color: rgb(254, 207, 57);
    position: absolute;
    right: 0;
}
.btn-group {
    display: flex;
}

.btn-group .btn{
    border-radius: 4px;
    border: 0;
    padding: 5px 15px;
    text-align: center;
    display: block;
    margin: auto;
    height: 30.8px;
    display: block;
}

.btn-group .btn-left {
    width: 80%;
    border-radius: 3px 0px 0px 3px;
    border-right: 2px solid #E3EAEE;
}

.btn-group .btn-right {
    width: 20%;
    border-radius: 0px 3px 3px 0px;
    padding: 0;
}

.btn-group .btn-right i {
    font-size: 11px;
    margin: auto;
}

.page .content .body .slides-container .btn-group {
    width: 160px;
    margin: auto;
    margin-left: 50px;
}

.page .content .body .slides-container .top-button{
    background-color: #8AC5E7;
    font-family: 'Mosk700';
    font-size: 15px;
    color: #ffffff;
    display: flex;
}

.page .content .body .slides-container .btn-left i {
    margin: auto;
    font-size: 13px;
    margin-right: 8px;
}

.page .content .body .slides-container .top-button:focus {
    outline: 0;
}

.page .content .body .slides-list {
    height: 90%;
    padding-top: 16px;
    overflow-y: scroll;
}

.page .content .body .slides-list::-webkit-scrollbar{
    display: none;
}

.page .content .body .slides-list .slide-item {
    padding-bottom: 27px;
    display: inline-flex;
    position: relative;
}

.page .content .body .slides-list .slide-item .delete {
    display: flex;
    position: absolute;
    right: -5px;
    top: -5px;
    background-color: #E3EAEE;
    padding: 6px 7px;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.page .content .body .slides-list .slide-item .delete:hover {
    background-color: #979898;
}

.page .content .body .slides-list .slide-item .delete i {
    color: white;
    margin: auto;
    display: flex;
    font-size: 10px;
}

.page .content .body .slides-list .slide-item.active .delete {
    background-color: #8AC5E7;
}

.page .content .body .slides-list .slide-item.active .delete:hover {
    background-color: rgb(93, 170, 214);
}

.page .content .body .slides-list .slide-item .nbr-slide {
    width: 50px;
    margin: auto;
}

.page .content .body .slides-list .slide-item .canvas-container {
    width: 160px !important;
    height: calc(160px * 9/16) !important;
}

.page .content .body .slides-list .slide-item .upper-canvas {
    opacity: 0;
}

.page .content .body .slides-list .slide-item .slide {
    width: 160px !important;
    height: calc(164px * 9/16) !important;
    border-radius: 5px;
    border: 3px solid #E3EAEE;
    background-color: #ffffff;
    cursor: pointer;
}

.page .content .body .slides-list .slide-item .slide:hover {
    transform: scale(1.01);
}

.page .content .body .slides-list .slide-item .slide.add:hover div{
    transform: scale(1.1);
}

.page .content .body .slides-list .slide-item .slide.add {
    background-color: unset;
    border: 2px dashed #8AC5E7;
    display: flex;
    color: #8AC5E7;
    font-family: 'Roboto';
    font-size: 13px;
}

.page .content .body .slides-list .slide-item .slide.add div {
    display: block;
    margin: auto;
}

.page .content .body .slides-list .slide-item .slide.add div p {
    margin: 0;
}

.page .content .body .slides-list .slide-item.active .slide{
    border: 3px solid #8AC5E7 !important;
}

.page .content .body .slides-list .slide-item {
    font-family: 'Lato Bold';
    font-size: 15px;
    color: #979898;
    text-align: center;
}

.page .content .body .slides-list .slide-item.active .nbr-slide {
    color: #8AC5E7;
}

.page .content .body .slides-footer {
    width: 100%;
    padding: 0px 50px;
}

.page .content .body .slides-footer .slides-footer-menu {
    border-top: 2px solid rgb(227, 234, 238);
    width: 160px;
    display: flex;
}

.page .content .body .slides-footer .slides-footer-menu .buttons {
    display: inline-flex;
    margin: auto;
}

.page .content .body .slides-footer .slides-footer-menu .buttons .btn{
    font-size: 19.5px;
    color: #9AA9B8;
    padding: 15px;
    border-top: 3px solid transparent;
}

.page .content .body .slides-footer .slides-footer-menu .buttons .btn.selected{
    color: #8AC5E7;
    border-top: 3px solid #8AC5E7;
    border-radius: 0;
}

.right-click-menu {
    width: 200px;
    background-color: rgb(25, 29, 41);
    opacity: 0.9;
    max-height: 500px;
    position: absolute;
    top: 10px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.361));
    cursor: pointer;
    z-index: 3;
}

.right-click-menu .group {
    padding: 7px 0px;
    border-bottom: 1px solid rgba(139, 139, 153, 0.5);
    position: relative;
}

.right-click-menu .group .item {
    padding: 6px 17px;
    color: #ffffff;
    font-family: 'Product Sans';
    font-size: 13px;
    letter-spacing: -0.2px;
    display: inline-flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;
}

.right-click-menu .group .item:hover {
    background-color: #0D4065;
}

.right-click-menu .group .parent:hover .side{
    display: block;
}

.right-click-menu .group div p {
    margin: 0;
    margin: auto;
}

.right-click-menu .group div .name {
    margin-left: 15px;
}

.right-click-menu .group div p:last-child {
    margin-right: 0px;
    font-weight: 900;
    opacity: 0.8;
    font-size: 9px;
    text-transform: uppercase;
}

.right-click-menu .group div i {
    margin: auto;
    font-size: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.right-click-menu .group .side {
    position: absolute;
    left: 200px;
    top: 0px;
    display: none;
}

.fullscreen .canvas-containor .controls-container {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.fullscreen .slide-show-controls {
    background-color: #DA4F09;
    left: 5%;
    display: flex;
    opacity: 0;
    border-radius: 3px;
    background-color: rgb(50, 50, 50);
    background-color: #547A85;
    background-color: rgb(25, 29, 41);
    background-color: rgba(55,71,81,0.7);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px, rgba(0, 0, 0, 0.5) 0px 10px 25px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 5px, rgba(0, 0, 0, 0.7) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.24) 0px 2px 4px;
    border-radius: 2px;
    transition: opacity 500ms linear;
    backdrop-filter: blur(10px);
    padding: 10px 0px;
    animation: appear 1s;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    max-width: 710.03px;
    /*margin-left: 5%;*/
    animation-timing-function: ease-out;
    margin: auto;
}

.fullscreen:hover .fullscreen .slide-show-controls{
    /*animation: fadeIn 1s;
    animation-fill-mode: forwards;*/
}

.fullscreen .slide-show-controls:hover {
    background-color: rgba(55,71,81,1);
}

.fullscreen .slide-show-controls:hover .drop-down {
    background-color: rgba(55,71,81,1) !important;
}

.fullscreen .slide-show-controls.fadeout {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.fullscreen .slide-show-controls .li {
    height: 40px;
    display: flex;
    border-right: 1px solid #ffffffa1;
    padding: 0 22px;
}

.fullscreen .slide-show-controls .li:last-child {
    border-right: unset;
}

.fullscreen .slide-show-controls .li div {
    margin: auto;
    color: #FFFFFF;
    font-size: 12px;
    cursor: pointer;
    padding: 0px 15px;
    font-family: 'Product Sans';
    font-size: 14px;
}

.fullscreen .slide-show-controls .li div:hover {
    opacity: 1;
}

.fullscreen .slide-show-controls .li div:hover i {
    text-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

.fullscreen .slide-show-controls .li.select {
    padding: 0;
    width: 150px;
    position: relative;
}

.fullscreen .slide-show-controls .li.select div::after {
    /*content: "\f0dd";
    font-family: 'Font Awesome 5 Free';
    font-size: 12px;
    font-weight: 900;
    padding-left: 30px;*/
}

.fullscreen .slide-show-controls .li.select .select-value {
    display: inline-flex;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
}

.fullscreen .slide-show-controls .li.select div i {
    margin: auto;
    margin-right: 0;
    font-size: 12px;
    margin-top: 3px;
}

.fullscreen .slide-show-controls .drop-down {
    position: absolute;
    max-height: 250px;
    bottom: 50px;
    left: 0;
    width: 100px;
    border-radius: 3px 3px 0px 0px;
    overflow-y: scroll;
    cursor: pointer;
    z-index: 2;
    width: 150px;
    background-color: rgba(55,71,81,0.7);
}

.fullscreen .canvas-containor .subtitles-container {
    display: none;
}

.fullscreen .canvas-containor .controls-container.captions-off .subtitles-container {
    display: none;
}

.fullscreen .canvas-containor.fullscreen .subtitles-container {
    width: 100%;
    bottom: 0;
    display: flex;
    margin-bottom: 15px;
}

.fullscreen .subtitle {
    background-color: rgb(25, 29, 41);
    border-radius: 2px;
    padding: 5px;
    font-family: 'Montserrat-Bold';
    font-family: 'Montserrat-Regular';
    color: white;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 5%;
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px black;
    overflow: hidden;
    max-width: 70%;
}

.fullscreen .subtitle p {
    margin: 0;
}

/******/
.banner{
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0), #0B1F2E);*/
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: fadeIn04 1s;
    animation-fill-mode: forwards;
}

.controls {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    display: none;
}

.controls .button {
    width: 60px;
    height: 60px;
    /*background-color: rgba(108, 168, 204, 0.4);*/
    background-color: rgba(255,255,255,0.2);
    display: flex;
    margin: auto;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
}

.controls .button i {
    display: block;
    margin: auto;
}

.controls .icon {
    width: 15px;
    height: 15px;
    background: url('../icons/chevron.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
/*************************/
@keyframes fadeIn04 {
    0% {opacity:0;}
    100% {opacity:0.4;}
}

@-moz-keyframes fadeIn04 {
    0% {opacity:0;}
    100% {opacity:0.4;}
}

@-webkit-keyframes fadeIn04 {
    0% {opacity:0;}
    100% {opacity:0.4;}
}

@-o-keyframes fadeIn04 {
    0% {opacity:0;}
    100% {opacity:0.4;}
}

@-ms-keyframes fadeIn04 {
    0% {opacity:0;}
    100% {opacity:0.4;}
}
/******/
@keyframes appear {
    0% {
        opacity:0;
        transform: translateY(200px);
    } 100% {
        opacity:1;
        transform: translateY(0px);
    }
}

@-moz-keyframes appear {
    0% {
        opacity:0;
        transform: translateY(100px);
    } 100% {
        opacity:1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes appear {
    0% {
        opacity:0;
        transform: translateY(100px);
    } 100% {
        opacity:1;
        transform: translateY(0px);
    }
}

@-o-keyframes appear {
    0% {
        opacity:0;
        transform: translateY(100px);
    } 100% {
        opacity:1;
        transform: translateY(0px);
    }
}

@-ms-keyframes appear {
    0% {
        opacity:0;
        transform: translateY(100px);
    } 100% {
        opacity:1;
        transform: translateY(0px);
    }
}