body {
  align-items: center;
  align-self: center;
  overflow-y: scroll;
}
.dashboard-container .dashboard {
  padding: 5% 20%;
}
.dashboard-container .dashboard h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5%;
}
.dashboard-container .dashboard h3 {
  font-size: 18px;
}
.dashboard-container .dashboard .for-label {
  max-width: fit-content;
  margin: auto;
}
.dashboard-container .dashboard .arrows a {
  opacity: 0.9;
  cursor: pointer;
}
.dashboard-container .dashboard .arrows a:hover {
  opacity: 1;
  color: #007bff;
}
@media screen and (max-width: 600px) {
  .dashboard-container .dashboard {
    padding: 5%;
    padding-top: 60px;
    overflow-x: scroll;
 }
  .dashboard-container .dashboard .arrows {
    height: unset !important;
 }
  .dashboard-container .dashboard .arrows a {
    font-size: 35px !important;
    opacity: 0.5;
 }
}
.autocomplete {
  position: absolute;
  left: 0px;
  top: 80px;
  background: white;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
}
.autocomplete div {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}
.autocomplete div:hover {
  background: rgba(0, 0, 0, 0.05);
}